<div class="container-fluid main-container">
  <!-- Cabeçalho -->
  <div class="row bg-primary text-light">
    <div class="col-md-12 text-center">
      <img src="https://d335luupugsy2.cloudfront.net/cms/files/24887/1694803049/$5751l10txb" alt="Cloud Park Logo" class="center-image">
      <h5>Líder no mercado de soluções para estacionamento</h5>
    </div>
  </div>

  <div class="row">
    <!-- Menu Lateral -->

    <div class="col-md-2 ">
      <div class="nav flex-column">
        <button class="btn btn-secondary mb-2" routerLink="vehicle">Veículo</button>
        <button class="btn btn-secondary mb-2" routerLink="customer">Cliente</button>
        <button class="btn btn-secondary mb-2" routerLink="plan">Plano</button>
        <button class="btn btn-secondary mb-2" routerLink="contract">Contrato</button>
      </div>
    </div>

    <!-- Conteúdo Principal -->
    <div class="col-md-10">
      <!-- Grade de Veículos -->
      <div class="mt-4">
        <table class="table">

          <thead>
            <tr>
              <th>Data/hora de Entrada</th>
              <th>Data/hora de Saída</th>
              <th>Placa</th>
              <th>Cartão</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2023-11-20T12:00:00Z</td>
              <td>2023-11-20T18:00:00Z</td>
              <td>ABC-1234</td>
              <td>123456789</td>
              <td>R$ 30,00</td>
              <router-outlet></router-outlet>
            <tr *ngFor="let vehicle of vehicleList">
              <td>{{ vehicle.entryDate }}</td>
              <td>{{ vehicle.exitDate}}</td>
              <td>{{ vehicle.plate }}</td>
              <td>{{ vehicle.card }}</td>
              <td>{{ vehicle.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="mt-4">
        <button class="btn btn-success">Entrada</button>
        <button class="btn btn-danger" [disabled]="true">Saída</button>
      </div>


    </div>
  </div>
</div>
